Source: gedit-gmate
Section: gnome
Priority: optional
Maintainer: Andrey Sitnik <andrey@sitnik.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 0.10~uorppa4
Homepage: http://github.com/gmate/gmate
Vcs-Git: git://github.com/gmate/gmate.git
Vcs-Browser: http://github.com/gmate/gmate

Package: gedit-gmate
Architecture: any
Depends: python, gedit (>= 3)
Description: Gedit Gmate Plugins pack
 This package contains a collection of plugins and gtksourceview improvements to
 make gedit more powerful to develop especially Ruby on Rails applications.
 To know more details about what ins included in gedit-gmate package please see
 the read-me file at /usr/share/doc/gedit-gmate/README.rdoc

