#!/usr/bin/make -f

build = $(CURDIR)/debian/gedit-gmate

clean:
	rm -f build

build:
	touch build

install:
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installdocs

	cp    lang-specs/*.lang $(build)/usr/share/gtksourceview-3.0/language-specs/
	cp -R styles/*          $(build)/usr/share/gtksourceview-3.0/styles/
	cp    mime/*            $(build)/usr/share/mime/packages/
	for plugin in plugins/gedit3/*; do \
	    cp -R $$plugin/*         $(build)/usr/lib/gedit/plugins/; \
	done
	cp plugins/gedit3/restoretabs/org.gnome.gedit.plugins.restoretabs.gschema.xml $(build)/usr/share/glib-2.0/schemas/
	cp -R snippets/*        $(build)/usr/share/gedit/plugins/snippets/
	cp    gmate.py          $(build)/usr/share/gedit/gmate/

binary-indep: install

binary-arch: install
	dh_installdocs
	dh_installchangelogs
	dh_installdeb
	dh_compress
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch
